{
    Graphics: [
        (("abc1:fab2", "afa2:aaba"), [
            (
                name: "Graphics Driver 1",
                description: "Something about Graphics Driver 1",
                tags: [],
                packages: [
                    "dolphin",
                    "thunar",
                    "nautilus",
                ],
                configs: [
                    (
                        format: Ini,
                        path: None,
                        entries: {},
                    ),
                ],
                pre_install_script: None,
                post_install_script: None,
            ),
        ]),
    ],
    Wireless: [
        (("aaba:fab2", "abaa:1231"), [
            (
                name: "Wireless Driver 1",
                description: "Something about Wireless Driver 1",
                tags: [],
                packages: [
                    "vim",
                    "helix",
                    "code",
                    "nano",
                ],
                configs: [
                    (
                        format: Ini,
                        path: None,
                        entries: {},
                    ),
                ],
                pre_install_script: None,
                post_install_script: None,
            ),
        ]),
        (("abaa:1241", "abaa:1251"), [
            (
                name: "Wireless Driver 2",
                description: "Something about Wireless Driver 2",
                tags: [],
                packages: [
                    "nvidia",
                    "amd",
                ],
                configs: [
                    (
                        format: Ini,
                        path: None,
                        entries: {},
                    ),
                ],
                pre_install_script: None,
                post_install_script: None,
            ),
        ]),
    ],
}