{
    Graphics: [
        (("abc1:fab2", "afa2:aaba"), [
            (
                packages: [],
                configs: [],
                tags: [],
                pre_install_script: None,
                post_install_script: None,
            ),
        ]),
    ],
    Wireless: [
        (("aaba:fab2", "abaa:1231"), [
            (
                packages: [],
                configs: [],
                tags: [],
                pre_install_script: None,
                post_install_script: None,
            ),
        ]),
        (("abaa:1241", "abaa:1251"), [
            (
                packages: [],
                configs: [],
                tags: [],
                pre_install_script: None,
                post_install_script: None,
            ),
        ]),
    ],
}