[
    (("1234:5678", "1234:56ab"), [
        (
            packages: [],
            configs: [],
            tags: [],
            pre_install_script: None,
            post_install_script: None,
        ),
    ]),
]